<div class="container">
  <h2>Hello, this is demo Rails starter app</h2>

  <ul>
    <li> 
      <%= link_to "Admin", rails_admin_path %> 
      panel (email: mail@example.com / password: password)
    <li>
      Devise
    </li>
    <li>
      Bootstrap 5
    </li>
    <li>
      Docker compose setup
    </li>
    <li>
      Sidekiq
    </li>
    <li>
      Basic static pages
      <%= link_to "Static page", page_path(path: 'static-page') %>
    </li>
  </ul>
</div>