
.container
  %h2 Hello, this is demo Rails starter app

  %ul
    -# %li
    -#   = link_to "Admin", rails_admin_path
    -#   panel (email: mail@example.com / password: password)
    %li
      Devise
    %li
      Bootstrap 5
    %li
      Docker compose setup
    %li
      Sidekiq
    %li
      Basic static pages
      = link_to "Static page", page_path(path: 'static-page')