<div class="container">
  <h2>Hello, this is demo Rails starter app</h2>

  <ul>
      Devise
    </li>
    <li>
      Tailwind CSS
    </li>
    <li>
      Docker compose setup
    </li>
    <li>
      Sidekiq
    </li>
    <li>
      Basic static pages
      <%= link_to "Static page", page_path(path: 'static-page') %>
    </li>
  </ul>
</div>